---
eleventyNavigation:
  key: Blog
  order: 1
---

{# ---js
const eleventyNavigation = {
	key: "Blog",
	order: 1
};
const layout = 'layouts/base.njk';
--- #}

{# <h1>Blog</h1> #}

<div style="margin-top: 1em;"></div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
