<article>
  {% if project.thumbnail %}
    <div class="project-image-container project-block">
      <span class="vertical-align-helper"></span><img class="project-image" src="/images/projects/{{ project.thumbnail }}"></img>
    </div>
  {% endif %}
  <div class="project-block">
    <h2>
      <a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a>
      {% if project.link %}
        <a href="{{ project.link }}" target="_blank" title="{{ project.title }}"><i class="fa fa-link"></i></a>
      {% endif %}
    </h2>
    <p>{{ project.excerpt | strip_html | truncate: 160 }}</p>
  </div>
</article>