
.project-image-container {
    width: 100px;
    height: 70px;
    overflow: hidden;
    padding: 8px;
}

.project-block {
    display: inline-block;
    vertical-align: middle;
}

.project-image {
    vertical-align: middle;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header-image-container {
    text-align: center;
    padding: 100px;
}

.header-image {
    width: 150px;
    height: 150px;
    margin: auto;
}
