---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %} @media (prefers-color-scheme: light) { {% include "node_modules/prismjs/themes/prism.css" %} } {% endcss %}
{%- css %} @media (prefers-color-scheme: dark) { {% include "node_modules/prismjs/themes/prism-tomorrow.css" %} } {% endcss %}
{# {%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %} #}
<h1 style="margin-top: 1rem; margin-bottom: 0.2em">{{ title }}</h1>

{# {%- css %}
/* Tags */
/* .post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
} */

/* Tags list */
/* .post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
} */
{% endcss %} #}

<div class="post-metadata">
	{# <li> #}
	<time style="font-size: 0.9em;" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	{# </li> #}
	{# {%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %} #}
</div>

<div class="blog-content">
{{ content | safe }}
</div>
